name: CI/CD

on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: pnpm/action-setup@v4
        with:
          run_install: true

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: Instrumentation
        run: |
          pwd
          ls -l
          cat tsconfig.json
          export
          node --version
          pnpm --version
          npx tsc --version

      - name: Build
        run: pnpm run build

      - name: Check for sensitive content
        run: |
          # gh runs these with set -e by default but we want to handle the exit
          # code ourselves
          set +e
          # see src/content/metacontent.md for these strings
          grep -r -i -E 'az5l4PI7rXLjEEBI1W3fc|PaBH_L7GJZnkjpV87HHV7' dist/
          if [ $? -eq 0 ]; then
            echo "Sensitive content found in dist folder"
            exit 1
          fi

      - name: Upload static files as artifact
        uses: actions/upload-artifact@v6
        with:
          path: dist/
          name: dist
          include-hidden-files: true # needed to ensure .assetsignore is sent

      - name: Upload wrangler.jsonc
        uses: actions/upload-artifact@v6
        with:
          path: wrangler.jsonc
          name: wrangler.jsonc

  deploy:
    runs-on: ubuntu-latest
    # only if branch is main
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      deployments: write
    name: Publish to Cloudflare Pages
    needs: build
    steps:
      - name: Download dist
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Download wrangler.jsonc
        uses: actions/download-artifact@v7
        with:
          name: wrangler.jsonc

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      # force the wrangler version be preinstalling it
      # https://github.com/cloudflare/wrangler-action/issues/390
      - name: Install wrangler
        run: pnpm add wrangler@4

      - name: Instrument folder
        run: |
          pwd
          echo "ls -la"
          ls -la
          echo "ls -la dist/"
          ls -la dist/
          echo "cat dist/.assetsignore"
          cat dist/.assetsignore

      - name: Publish to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
